figure {

  .photo-credit {
    text-align: right;
    font-size: 10px;

    @media (max-width: $screen-md-max) {
      top: -25px;
    }
  }

  &.profile-figure {
    max-width: 158px;
    float: left;
    margin: 30px 30px 15px 0;

    @media (max-width: $screen-xxs-max) {
      margin: 0 auto;
      float: none;
    }
  }
}

.primary-figure {
  .photo-credit {
    position: relative;
    top: -15px;

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      right: -10px;
    }
  }
}
