// colors

$primary-color: #FFFFFF;
$secondary-color: #16A085;
$tertiary-color: #C0392B;
$highlight-color: #E67E22;
$complementary-color: #2C3E50;

// layout

$footer-height: 52px;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
