// colors

$inverse-fg-color: #FFFFFF;
$highlight-color: #E67E22;
$highlight-variant-color: #D34500;
$inverse-bg-color: #1ABC9C;
$inverse-bg-variant-color: #16A085;
$inverse-bg-selection-color: #34495E;
$primary-bg-color: #2C3E50;
$secondary-bg-variant-color: #E74C3C;
$secondary-bg-color: #C0392B;

// breakpoints

$screen-xxs-max: 410px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

// layout

$footer-height: 52px;

// transitions

$default-transition-duration: 0.25s;
$default-transition: all $default-transition-duration ease 0s;

// borders

$primary-border-color: #BDC3C7;
$primary-border: 5px solid $primary-border-color;


// TODO: SEO and Google analytics?
// TODO: more locations, video of surety site, make map prettier
// TODO: when this site is launched, take down google site and redirect, publicize stuff
// TODO: gruntfile fix with index.html and consider tailoring stuff to pages (but caching issues)
// TODO: better Atticus picture
