.skill-list {
  // list-style-type: none;
  padding: 10px 20px 0 20px;

  // @media (max-width: $screen-xs-max) {
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }

  > li {
    clear: both;
    // overflow: hidden;
    margin-bottom: 8px;
    position: relative;
  }

  .skill-label {
    // width: calc(45% - 5px);
    // float: left;
    line-height: 1;

    // @media (max-width: $screen-xs-max) {
    //   text-align: right;
    //   width: 120px;
    // }
    // @media (min-width: $screen-md-min) {
    //   width: calc(35% - 5px);
    // }
    // @media (min-width: $screen-lg-min) {
    //   width: calc(30% - 5px);
    // }
  }
  .progress {
    background-color: $border-color;
    width: calc(55% - 5px);
    float: right;
    margin: 5px 0;

    @media (max-width: $screen-xs-max) {
      width: calc(100% - 140px);
    }
    @media (min-width: $screen-md-min) {
      width: calc(65% - 5px);
    }
    @media (min-width: $screen-lg-min) {
      width: calc(70% - 5px);
    }

    .progress-bar {
      background-color: $primary-theme-color;
      &.skill-progress-expert { width: 100%; }
      &.skill-progress-proficient { width: 80%; }
      &.skill-progress-competent { width: 60%; }
      &.skill-progress-intermediate { width: 40%; }
      &.skill-progress-beginner { width: 20%; }
    }
  }
}
