.navbar {
  border: none;
  background-color: $turquoise;
  border-radius: 0;
  margin-bottom: 0;

  .navbar-toggle {
    border: none;
    border-radius: 0;
    transition: $default-transition;

    &:before {
      transition: $default-transition;
    }
    &:not(.collapsed) {
      background-color: $light-turquoise;

      &:before {
        background-color: $light-turquoise;
        color: $white;
      }
    }

    &.collapsed {
      background-color: $turquoise;

      &:before {
        color: $white;
        background-color: $turquoise;
      }
      &:hover, &:focus, &:active {
        background-color: $green-sea;

        &:before {
          color: $white;
          background-color: $green-sea;
        }
      }
    }
  }

  .navbar-nav {

    > li {

      > a {
        color: $white;

        &:hover, &:focus {
          color: $white;
          background-color: $green-sea;
        }
      }

      &.active > a {
        color: $white;
        background-color: $midnight-blue;

        &:hover, &:focus {
          color: $white;
          background-color: $midnight-blue;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .navbar-collapse {
      overflow-x: hidden;
    }
  }
}
