.navbar {
  border: none;
  background-color: $inverse-bg-color;
  border-radius: 0;
  margin-bottom: 10px;

  .navbar-toggle {
    border: none;
    border-radius: 0;
    transition: $default-transition;

    &:before {
      transition: $default-transition;
    }

    &:not(.collapsed) {
      background-color: $inverse-bg-selection-color;

      &:before {
        background-color: $inverse-bg-selection-color;
        color: $inverse-fg-color;
      }
    }

    &.collapsed {
      background-color: $inverse-bg-color;

      &:before {
        color: $inverse-fg-color;
        background-color: $inverse-bg-color;
      }

      &:hover, &:focus, &:active {
        background-color: $inverse-bg-variant-color;

        &:before {
          color: $inverse-fg-color;
          background-color: $inverse-bg-variant-color;
        }
      }
    }
  }

  .navbar-nav {

    > li {

      > a {
        color: $inverse-fg-color;

        &:hover, &:focus {
          color: $inverse-fg-color;
          background-color: $inverse-bg-variant-color;
        }
      }

      &.active > a {
        color: $inverse-fg-color;
        background-color: $primary-bg-color;

        &:hover, &:focus {
          color: $inverse-fg-color;
          background-color: $primary-bg-color;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .navbar-collapse {
      overflow-x: hidden;
    }
  }
}
