%blockquote-bookend {
  position: absolute;
  top: -35px;
  font-size: 132px;
  color: $highlight-color;

  @media (max-width: $screen-xs-max) {
    font-size: 96px;
  }
}

.praise {
  padding: 40px 120px;

  @media (max-width: $screen-sm-max) {
    padding: 40px 60px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 40px 15px;
  }

  blockquote {
    text-align: center;
    font-size: 24px;
    border: none;
    padding: 0 80px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      padding: 0 60px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      padding: 0 35px;
    }

    &:before {
      @extend %blockquote-bookend;
      left: 0;
      content: "\201C";
    }
    &:after {
      @extend %blockquote-bookend;
      right: 0;
      content: "\201D";
    }
  }

  .attribution {
    text-align: center;
    display: block;
    font-size: 24px;
    font-style: italic;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
    }

    &:before {
      content: "\2014";
      margin-right: 3px;
    }
  }
}
