// !important overrides flaTimeline.js programmaticly applied styles

.timeline {
  margin: 40px 0;
  border-top: $primary-border !important;

  .date {
    min-width: 200px;
  }

  .contentWrapper {
    border-left: $primary-border !important;

    .circle {
      border: $primary-border !important;
    }

    .content {
      background-color: $turquoise !important;
      border-color: $green-sea !important;
      transition: $default-transition;
      padding: 0 !important;

      ul {
        list-style-type: disc;
      }

      .title {
        padding: 20px !important;

        .name {
          font-size: 20px;
          margin-left: 30px;

        }
        .institution {
          display: block;
          text-transform: uppercase;
          font-size: 14px;
          margin-left: 30px;
        }
      }

      .text {
        cursor: pointer;

        div[class^="col"] {
          padding: 0 15px 15px 15px;
        }
      }

      &:not(.opened) {

        &:hover {
          transition: $default-transition;
          background-color: $green-sea !important;
          border-color: darken($green-sea, 10%) !important;
        }
      }
    }
  }

  &.minimal {
    .date, .circle {
      cursor: default !important;
    }

    .content {
      background-color: transparent !important;
      border-color: transparent !important;

      &:not(.opened):hover {
        background-color: transparent !important;
        border-color: transparent !important;
      }

      .title {
        color: $midnight-blue;
        cursor: default !important;
      }
    }
  }
}
