// !important overrides flaTimeline.js programmaticly applied styles

.timeline {
  margin: 40px 0;
  border-top: $primary-border !important;

  .date {
    min-width: 200px;
  }

  .contentWrapper {
    border-left: $primary-border !important;

    .circle {
      border: $primary-border !important;
    }

    .content {
      background-color: $inverse-bg-color !important;
      border-color: $inverse-bg-variant-color !important;
      transition: $default-transition;
      padding: 0 !important;

      .title {
        padding: 20px !important;
      }

      .text {
        cursor: pointer;

        div[class^="col"] {
          padding: 0 15px 15px 15px;
        }
      }

      &:not(.opened) {

        &:hover {
          transition: $default-transition;
          background-color: $inverse-bg-variant-color !important;
          border-color: darken($inverse-bg-variant-color, 10%) !important;
        }
      }
    }
  }
}
