{% load static from staticfiles %}

<section>
  <figure class="profile-figure">
    <img class="img-responsive img-circle" src="{% static 'core/images/profile_photo.jpg' %}" alt="Profile photo of Benjamin Cook" title="Benjamin Cook">
    <figcaption class="photo-credit">&copy; Ryan Miller</figcaption>
  </figure>
  <h1 class="h3">Hello.</h1>
  <p>My name is Benjamin Cook, and I write about web applications, developer tools, and the profession of web development.</p>
  <a href="{% url 'about' %}" class="btn btn-primary btn-small">Learn more about me</a>
</section>
