{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Benjamin Cook - {% block title %}{% endblock %}</title>
  <meta name="description" content="Meet Benjamin Cook, versatile software development professional with experience using a range of tools and languages">
  <meta name="author" content="Benjamin Cook">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Personal Website" />
  <meta property="og:description" content="Learn more about Benjamin Cook" />
  <meta property="og:url" content="http://bencook.info/" />
  <meta property="og:image" content="{% static 'core/images/logo.png' %}" />

  <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}">

{% block vendor_styles %}
  <link rel="stylesheet" href="{% static 'styles/vendor.min.css' %}" />
{% endblock %}
{% block app_styles %}
  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
{% endblock %}
</head>

<body>
  <div class="container">
{% include 'core/header.html' %}

    <div class="body">
{% block body %}
{% endblock %}
    </div>

{% include 'core/footer.html' %}
  </div>

{% block vendor_scripts %}
  <script type="text/javascript" src="{% static 'core/scripts/vendor.min.js' %}"></script>
{% endblock %}
{% block app_scripts %}
{% endblock %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89143314-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
