{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Benjamin Cook - {% block title %}{% endblock %}</title>
  <meta name="description" content="Versatile software development professional with experience using a range of tools and languages">
  <meta name="author" content="Benjamin Cook">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}">

{% block vendor_styles %}
  <link rel="stylesheet" href="{% static 'core/styles/vendor/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'core/styles/vendor/flat-ui.min.css' %}" />
{% endblock %}
{% block app_styles %}
  <link rel="stylesheet" href="{% static 'core/styles/main.css' %}" />
{% endblock %}
</head>

<body>
  <div class="container">
{% include 'core/header.html' %}

    <div class="body">
{% block body %}
{% endblock %}
    </div>

{% include 'core/footer.html' %}
  </div>

{% block vendor_scripts %}
  <script type="text/javascript" src="{% static 'core/scripts/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/scripts/flat-ui.min.js' %}"></script>
{% endblock %}
{% block app_scripts %}
{% endblock %}

</body>
</html>

  <!-- TODO: keyword meta tag, revise viewport tag -->
