{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block title %}Contact me{% endblock %}

{% block body %}
<section class="row">
  <div class="col-xs-12">
    <h1 class="h3">Contact me</h1>
    <form name="contact_form" action="{% url 'contact' %}" method="post" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="name" value="" id="name" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email:</label>
        <div class="col-sm-10">
          <input class="form-control" type="email" name="email" value="" id="email" />
        </div>
      </div>

      <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message:</label>
        <div class="col-sm-10">
          <textarea id="message" class="form-control" name="message" rows="8" cols="37"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
      </div>

      <input class="hidden" type="hidden" name="subject" value="bencook.info : Contact Form Submission" id="subject" />

  {% csrf_token %}
    </form>

  </div>
</section>

{% endblock %}
