{% load static from staticfiles %}

<footer class="footer">
  <div class="row">
    <div class="col-sm-push-8 col-sm-4">
      <div class="footer-sidebar">
        <div class="media-icon-group">
          <a class="media-icon" href="https://github.com/blcook223" target="_blank"><img title="GitHub" src="{% static 'core/images/github-32.png' %}" alt="GitHub icon"></a>
          <a class="media-icon" href="http://stackoverflow.com/users/4513644/blcook223" target="_blank"><img title="Stack Overflow" src="{% static 'core/images/stackoverflow-32.png' %}" alt="Stack Overflow icon"></a>
          <a class="media-icon" href="http://www.linkedin.com/in/benjaminleecook/" target="_blank"><img title="Linkedin" src="{% static 'core/images/linkedin-32.png' %}" alt="Linkedin icon"></a>
          <a class="media-icon" href="{% url 'contact' %}" alt="email icon"><img title="Email" src="{% static 'core/images/email-32.png' %}"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-pull-4 col-sm-8">
      <div class="footer-main">
        <div class="legal">
          <p>This website is an open-source project by Benjamin Cook.</p>
          <p>Full source code can be viewed on <a href="https://github.com/blcook223/bencook.info" target="_blank">GitHub</a>.</p>
          <p>Some design elements from <a href="http://designmodo.github.io/Flat-UI/" target="_blank">Flat UI</a> by <a href="http://designmodo.com/" target="_blank">Designmodo</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
