{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12 col-md-push-5 col-md-7">
    <section class="jumbotron">
     <figure class="visible-xs visible-sm profile-figure">
        <img class="img-responsive img-circle" src="{% static 'core/images/profile_photo.jpg' %}" alt="Profile photo of Benjamin Cook" title="Benjamin Cook">
        <figcaption class="photo-credit">&copy; Ryan Miller</figcaption>
      </figure>
      <h1>Hello.</h1>
      <p>My name is Benjamin Cook, and I build web applications.</p>
      <p>My family and I recently moved to Charleston, SC, and I work as a software engineer for <a href="https://www.blackbaud.com" target="_blank">Blackbaud</a>. I also develop apps and websites on a contract basis, and I always have a few <a href="https://github.com/blcook223" target="_blank">side projects</a> at any given time.</p>
      <p>Excellent customer service is a top priority for me, and both clients and employers can <a href="{% url 'about' %}#praise">speak to the quality of my work</a>.</p>
      <p>I have an <a href="{% url 'about' %}#son">amazing family</a>, and I love <a href="{% url 'about' %}#greece">all things ancient</a>.</p>
      <a class="btn btn-primary" href="{% url 'about' %}">Learn more about me</a>
    </section>
  </div>
  <div class="hidden-xs hidden-sm col-md-pull-7 col-md-5 primary-col">
    <figure class="primary-figure">
      <img class="img-responsive" src="{% static 'core/images/professional_photo.png' %}" alt="Professional photo of Benjamin Cook" title="Benjamin Cook">
      <figcaption class="photo-credit">&copy; Ryan Miller</figcaption>
    </figure>
  </div>
</div>
{% endblock %}
