a:not(.btn):not(.brand) {
  color: $dark-secondary-theme-color;

  &:active, &:hover, &:focus {
    color: $dark-secondary-theme-color;
    text-decoration: underline;
  }

  &:visited {
    color: $dark-highlight-color;
  }
}
