a:not(.btn) {
  color: $secondary-bg-color;

  &:active, &:hover, &:focus {
    color: $secondary-bg-color;
    text-decoration: underline;
  }

  &:visited {
    color: $highlight-variant-color;
  }
}
