.btn-primary {
  background-color: $inverse-bg-color;
  color: $inverse-fg-color;
  border-color: $primary-bg-color;

  &:hover, &:focus {
    background-color: $inverse-bg-variant-color;
  }
}

.btn-secondary {
  background-color: $secondary-bg-color;
  color: $inverse-fg-color;
  border-color: $primary-bg-color;

  &:hover, &:focus {
    background-color: $secondary-bg-variant-color;
  }
}
