.navbar {
  border: none;
  background-color: #006363;
  border-radius: 0;
  margin-bottom: 10px;

  .navbar-toggle {
    border: none;

    &:hover, &:focus {
      background-color: transparent;

      span[class*="icon"] {
        background-color: #FF7600;
      }
    }

    span[class*="icon"] {
      background-color: #F5F5DC;
    }
  }

  .navbar-nav {
    margin-top: 0;

    > li {
      position: relative;
      left: 10px;

      > a {
        color: #F5F5DC;

        &:hover, &:focus {
          color: #FF7600;
        }
      }

      &.active > a {
        color: #F5F5DC;
        background-color: #2F4F4F;

        &:hover, &:focus {
          color: #FF7600;
          background-color: #2F4F4F;
        }
      }
    }
  }

  .navbar-right {
    padding: 0;
  }
}
