html, body {
  height: 100%;
}

.body {
  margin: 10px 0;
}

body {
  color: #2C3E50;
}

a:not(.btn):not(.brand) {
  color: #C0392B;
}
a:not(.btn):not(.brand):active, a:not(.btn):not(.brand):hover, a:not(.btn):not(.brand):focus {
  color: #C0392B;
  text-decoration: underline;
}
a:not(.btn):not(.brand):visited {
  color: #D34500;
}

figure .photo-credit {
  text-align: right;
  font-size: 10px;
}

.btn {
  font-size: 18px;
}

.btn-primary {
  background-color: #1ABC9C;
  color: #FFFFFF;
  border-color: #2C3E50;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #16A085;
}

.btn-secondary {
  background-color: #C0392B;
  color: #FFFFFF;
  border-color: #2C3E50;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #E74C3C;
}

.brand {
  text-transform: capitalize;
  padding: 14px 9px;
}
.brand:hover:not(.btn), .brand:active:not(.btn), .brand:focus:not(.btn), .brand.active:not(.btn) {
  text-decoration: none;
}
.brand .title {
  color: #FFFFFF;
  font-size: 20px;
  margin: 0 5px;
}
.brand .title:before, .brand .title:after {
  color: #E67E22;
  margin: 0 5px;
}
.brand .title:before {
  content: "{{";
}
.brand .title:after {
  content: "}}";
}

.navbar {
  border: none;
  background-color: #1ABC9C;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar .navbar-toggle {
  border: none;
  border-radius: 0;
  transition: all 0.25s ease 0s;
  margin-left: 0;
}
.navbar .navbar-toggle:before {
  transition: all 0.25s ease 0s;
}
.navbar .navbar-toggle:not(.collapsed) {
  background-color: #34495E;
}
.navbar .navbar-toggle:not(.collapsed):before {
  background-color: #34495E;
  color: #FFFFFF;
}
.navbar .navbar-toggle.collapsed {
  background-color: #1ABC9C;
}
.navbar .navbar-toggle.collapsed:before {
  color: #FFFFFF;
  background-color: #1ABC9C;
}
.navbar .navbar-toggle.collapsed:hover, .navbar .navbar-toggle.collapsed:focus, .navbar .navbar-toggle.collapsed:active {
  background-color: #16A085;
}
.navbar .navbar-toggle.collapsed:hover:before, .navbar .navbar-toggle.collapsed:focus:before, .navbar .navbar-toggle.collapsed:active:before {
  color: #FFFFFF;
  background-color: #16A085;
}
.navbar .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:visited {
  color: #FFFFFF;
  background-color: #16A085;
  text-decoration: none;
}
.navbar .navbar-nav > li.active > a {
  color: #FFFFFF;
  background-color: #2C3E50;
}
.navbar .navbar-nav > li.active > a:hover, .navbar .navbar-nav > li.active > a:focus, .navbar .navbar-nav > li.active > a:visited {
  color: #FFFFFF;
  background-color: #2C3E50;
  text-decoration: none;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    overflow-x: hidden;
  }
}

.container .jumbotron {
  background-color: transparent;
}
.container .jumbotron p {
  font-weight: normal;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container .jumbotron {
    padding: 0 15px;
  }
  .container .jumbotron .h1 {
    margin-top: 10px;
  }
}

footer .footer-main, footer .footer-sidebar {
  height: 52px;
  color: #FFFFFF;
  position: relative;
}

footer .footer-main {
  background-color: #1ABC9C;
}
@media (min-width: 768px) {
  footer .footer-main {
    margin-right: -15px;
  }
}
footer .footer-sidebar {
  background-color: #2C3E50;
}
@media (min-width: 768px) {
  footer .footer-sidebar {
    margin-left: -15px;
  }
}
footer .legal {
  position: absolute;
  bottom: 5px;
  left: 15px;
}
footer .legal > p {
  font-size: 10px;
  line-height: 1.2em;
  margin-bottom: 0;
}

.media-icon-group {
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.media-icon-group .media-icon:not(:last-child) {
  margin-right: 10px;
}

.featurette {
  padding: 20px 0;
  border-top: 5px solid #BDC3C7;
}
.featurette:first-of-type {
  margin-top: 40px;
}
.featurette:last-of-type {
  margin-bottom: 40px;
}
.featurette figure {
  margin: 10px 0;
}
.featurette .info-label {
  font-weight: bold;
}

.tile {
  background-color: #FFFFFF;
}
