.brand {
  text-transform: capitalize;

  .title {
    color: $primary-color;
    font-size: 20px;
    line-height: 1;
    margin: 0 5px;

    &:before, &:after {
      color: $highlight-color;
      margin: 0 5px;
      position: relative;
    }

    &:before {
      content: "{{";
    }

    &:after {
      content: "}}";
    }
  }
}
