.footer {
  height: $footer-height;
  color: $primary-color;
  position: relative;
}

footer {

  .footer-main {
    @extend .footer;

    background-color: $secondary-color;
    @media (min-width: $screen-sm-min) {
      margin-right: -15px;
    }
  }

  .footer-sidebar {
    @extend .footer;

    background-color: $complementary-color;

    @media (min-width: $screen-sm-min) {
      margin-left: -15px;
    }
  }

  .copyright {
    position: absolute;
    margin: 0;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
  }
}
